<div class="center hero-unit">
  <h3>
    Mekelle Institute of Technology
  </h3>
  <h3>
    Application for Diplomas
  </h3>
  </br>
  <%= link_to "Apply", apply_path, class: "btn btn-large btn-primary" %>
</div>
